// Footer

footer {
    background-color: $brand-color;
    color: white;
    display: flex;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin-top: 20px;
    justify-content: space-between;


    h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    ul {
        padding: 0;
        margin-top: 0;
    }
    li {
        list-style-type: none;

    }

    a {
        color: white;
        text-decoration: none;
        line-height: 1.5;
        font-family: $body-font;
    }
    
    a:hover, a:active {
        color: gray;
    }

    .reg-contact {
        display: flex;
        justify-content: space-between;
    }

    .top-button {
        margin-top: 20px;
        margin-left: 40px;
        text-transform: uppercase;
        font-family: $body-font;
        padding: 15px;
        border-radius: 50%;
        border: none;
        background-color: gray;

    }

    .top-button:hover {
        box-shadow: inset 1px 1px 10px 4px darkgrey;
        color: yellow;

        a {
            color:yellow;
        }
    }
    

}

@media screen and (max-width: $tabletPortrait) {

    footer {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        

        .course-prog {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                text-align: center;
            }

            h3 {
                text-align: center;
            }
        }

        .reg-contact {
            flex-direction: column;
            justify-content: stretch;
            align-items: center;

        }

        .top-button {
            margin: 0;
            margin-top: 20px;
        }
    }

}