// Colors
$brand-color: #3C4663;
$body-bg-color: yellow;
$wrapper-bg-color: white;
// Text Colors
$text-color-dark: black;
$text-color-light: darkgrey;

// Use Color functions to brighten and darken colors
$brand-color-dark: darken($brand-color, 20);
$brand-color-light: lighten($brand-color, 20);


// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat);

// Fonts
$body-font: 'Montserrat', sans-serif;
$heading-font: 'Libre Baskerville', serif;
// Typographic Defualts
$line-height: 1.4;
$lg-font: 1.5em;
$sm-font: 16px;

// Layout variables
$padding: 30px;
// Grid Values
$gutter: 2;


// Media Query Breakpoints
$desktopMedium: 1100px;
$tabletPortrait: 760px;
$phonePortrait: 320px;

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';